---
layout: default
title: Offline for Maintenance
check_url: "/"
---

<!--  Check for a 200 success -->
<script type="text/javascript">
  window.checkConfig = {
    "url": "{{ page.check_url }}",
    "startingTimeout": 1000,
    "limit": 15000,
    "attempts": 30
  }
</script>

<script type="text/javascript">
  function check_url(opts) {
    const url = opts.url || "random-will-never-resolve"
    console.log(`Checking... ${url}`)

    fetch(url)
      .then(function(response) {
        if (response.ok) {
          console.log("Success")
          window.location = url
        }

        throw new Error('failed!');
      })
      .catch(function(error) {
        if (opts.attempts < 1) { return }

        let timeout = 0
        if (opts.startingTimeout * 2 > opts.limit) {
          timeout = opts.limit
        } else {
          timeout = opts.startingTimeout * 2
        }

        console.log(`Waiting for ${timeout / 1000} seconds`)

        setTimeout(function() {
          const new_opts = { "url": url,
                             "startingTimeout": timeout,
                             "limit": opts.limit,
                             "attempts": --opts.attempts }
          check_url(new_opts);
        }, timeout)
      })
  }

  console.log("Starting...")
  setTimeout(function() { check_url(window.checkConfig) }, 3000)
</script>

{{ content }}
