---
layout: default
title: Offline for Maintenance
check_url: "/"
---

<!--  Check for a 200 success -->
<script type="text/javascript">
  function parsedQueryString() {
    let query = window.location.search.substring(1);
    let vars = query.split("&");
    let query_string = {};

    for (var i = 0; i < vars.length; i++) {
      let pair = vars[i].split("=");
      // If first entry with this name
      if (typeof query_string[pair[0]] === "undefined") {
        query_string[pair[0]] = decodeURIComponent(pair[1]);
        // If second entry with this name
      } else if (typeof query_string[pair[0]] === "string") {
        let arr = [query_string[pair[0]], decodeURIComponent(pair[1])];
        query_string[pair[0]] = arr;
        // If third or later entry with this name
      } else {
        query_string[pair[0]].push(decodeURIComponent(pair[1]));
      }
    }
    return query_string;
  }

  function check_url(url, opts) {
    fetch(url)
      .then(function(response) {
        if (response.ok) {
          console.log("Success")
          location.reload();
        }
        throw new Error('failed!');
      }).catch(function(error) {
        if (opts.attempts < 1) { return }

        if (opts.startingTimeout * 2 > opts.limit) {
          var timeout = opts.limit;
        } else {
          var timeout = opts.startingTimeout * 2;
        }

        setTimeout(function(){
          let new_opts = { "startingTimeout": timeout,
                           "limit": opts.limit,
                           "attempts": --opts.attempts }
          check_url(url, new_opts);
        }, timeout);
      })
  }

  check_url(parsedQueryString().check_url, { "startingTimeout": 1000, "limit": 15000, "attempts": 30 })
</script>

{{ content }}
